:root {
	--background: #fff;
	--headings: #1e1e1e;
	--text: #333;
	--link: darkcyan;
	--link-hover: rgb(0, 73, 73);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #333;
		--headings: #eee;
		--text: #ddd;
		--link: cyan;
		--link-hover: darkcyan;
	}
}

:root.light {
	--background: #fff;
	--headings: #1e1e1e;
	--text: #333;
	--link: darkcyan;
	--link-hover: rgb(0, 73, 73);
}

:root.dark {
	--background: #333;
	--headings: #eee;
	--text: #ddd;
	--link: cyan;
	--link-hover: darkcyan;
}

@media print {
	:root {
		--background: #fff;
		--headings: #1e1e1e;
		--text: #333;
		--link: darkcyan;
		--link-hover: rgb(0, 73, 73);
	}
	a {
		color: var(--text) !important;
		text-decoration: underline !important;
	}
	a::after {
		content: " ( " attr(href) " )";
		font-size: 70%;
	}
	nav a::after {
		display: none;
	}
}

* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	color: var(--text);
	background: var(--background);
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--headings);
	font-weight: normal;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover);
}

p {
	font-size: 1rem;
	line-height: 2rem;
	color: var(--text);
}

p img {
	width: 85%;
	margin: auto;
}

p > code {
	color: #272822;
	background: #e6e6e0;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	padding: 0.1rem 0.3rem;
	font-size: 0.8rem;
	border-radius: 3px;
}

.dark p > code {
	background: #272822;
	color: #e6e6e0;
}

main {
	max-width: 85ch;
	margin: auto;
	padding: 0 2.5ch;
	padding-top: 3ch;
}

.post-date {
	margin-top: 2rem;
	font-size: 80%;
}

.post {
	padding-top: 1rem;
	margin: 0;
}

.post:first-of-type {
	padding-top: 0;
}

/* .post {
	border-top: 1px solid #ccc;
}

.post:last-of-type {
	border-bottom: 1px solid #ccc;
} */

blockquote {
	border-left: 3px solid #ccc;
	padding-left: 2rem;
	margin-left: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}

nav > div {
	width: 85ch;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2.5ch;
}

nav .logo a {
	color: var(--headings);
	font-size: 1.5rem;
}

nav .logo a:hover {
	color: var(--text);
}

nav small {
	color: var(--text);
	font-size: 0.8rem;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	padding: 0.5rem;
}

nav li a {
	text-decoration: none;
}

nav li a:hover {
	border-bottom: 1px solid darkcyan;
}

footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	width: 85ch;
	padding: 0 2.5ch;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toggle-theme {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
}

svg.toggle-theme-svg {
	background: transparent;
	height: 1.5rem;
	width: 1.5rem;
}

.toggle-theme-svg-ellipse {
	fill: var(--background);
}

.toggle-theme-svg-path {
	fill: var(--text);
}

.toggle-theme:hover .toggle-theme-svg-path {
	fill: var(--headings);
}
